<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "แก้ไข", edit_article_path(@article) %></li>
  <li><%= link_to "ลบ", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "คุณแน่ใจหรือไม่?"
                  } %></li>
</ul>

<h2>ความคิดเห็น (<%= @article.comments.count %>)</h2>
<%= render @article.comments %>  <!-- Renders existing comments -->

<h2>เพิ่มความคิดเห็น:</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>
  <p>
    <%= form.submit %>
  </p>
<% end %>
